
.ddb-table th, .ddb-table td {
  border: 1px solid #bbb;
  padding: 4px;
}

.ddb-global-table {
  font-size: 1.5em;
  line-height: 2em;
}

.ddb-global-table .col-name {
  padding-right: 20px;
}

.ddb-global-table .col-info {
  font-size: 0.7em;
}

.ddb-global-table input[type=text] {
  width: 60px;
}